[Desktop Entry]
Name=Filaby Update
Comment=Update Filaby automatisch
Exec=sh -c 'cd "$(dirname "%k")" && ./update_filaby.sh'
Icon=utilities-terminal
Terminal=true
Type=Application
