[Desktop Entry]
Name=Filaby
Comment=Startet das Filaby-Spiel
Exec=/home/filasez/.local/bin/filaby
Icon=/home/filasez/.local/share/icons/hicolor/scalable/apps/filaby.svg
Terminal=false
Type=Application
Categories=Game;
