[Desktop Entry]
Name=Filaby
Comment=Startet das Filaby-Spiel
Exec=/home/filasez/.local/bin/filaby
Icon=filaby
Terminal=false
Type=Application
Categories=Game;
